<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Library{% endblock %}</title>
</head>
<body>
    <h1>Digital Library</h1>

    <nav>
        <a href="/" style="margin-right: 20px;">🏡Home</a>
        <a href="/add_book" style="margin-right: 20px;">📚Add Book</a>
        <a href="/add_author">✍️Add Author</a>
    </nav><br>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="flash-messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <script>
        setTimeout(() => {
            const f = document.getElementById("flash-messages");
            if (f) f.style.display = "none";
        }, 5000);
    </script>
</body>
</html>