{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <!-- Search Form -->
    <form method="get" action="/">
        <input type="text" name="search" placeholder="Search by title..." value="{{ search_query }}">
        <input type="submit" value="Search">
    </form><br><br>


    {% for book in books %}
    <div ><br>
    {% if book.cover_url %}
        <img src="{{ book.cover_url }}" alt="Cover of {{ book.title }}"
             style="height: 2em; width: auto; vertical-align: middle">
        <strong>{{ book.title }}</strong>

    {% endif %}

    {% if book.author %} by {{ book.author.name }}{% endif %}
   </div>
    {% endfor %}

{% endblock %}
